nifi/weather-data-flow.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
    Apache NiFi Flow Configuration for Weather Data Ingestion
    This flow fetches weather data from OpenWeatherMap API and publishes to Kafka
-->
<flowController>
    <maxThreadCount>1</maxThreadCount>
    <registries/>
    <flowFileRepository>
        <partitions>256</partitions>
        <checkpointInterval>2 mins</checkpointInterval>
        <alwaysSync>false</alwaysSync>
        <swapThreshold>.5</swapThreshold>
    </flowFileRepository>
    <contentRepository>
        <alwaysSync>false</alwaysSync>
    </contentRepository>
    <provenanceRepository>
        <partitionCount>8</partitionCount>
    </provenanceRepository>
    <group id="weather-data-flow">
        <name>Weather Data Ingestion Flow</name>
        <position x="0.0" y="0.0"/>
        
        <!-- Generate Flow File for Each City -->
        <processor id="generate-cities">
            <name>Generate Cities</name>
            <class>org.apache.nifi.processors.standard.GenerateFlowFile</class>
            <position x="100.0" y="200.0"/>
            <config>
                <property name="Custom Text">Hanoi
Ho Chi Minh City
Da Nang
Hue
Can Tho</property>
                <property name="Data Format">Text</property>
                <property name="Unique FlowFiles">true</property>
                <property name="Batch Size">1</property>
            </config>
        </processor>
        
        <!-- Invoke HTTP to Fetch Weather Data -->
        <processor id="fetch-weather">
            <name>Fetch Weather Data</name>
            <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
            <position x="300.0" y="200.0"/>
            <config>
                <property name="HTTP Method">GET</property>
                <property name="Remote URL">http://api.openweathermap.org/data/2.5/weather?q=${filename}&appid=${OPENWEATHER_API_KEY}&units=metric</property>
                <property name="Content-Type">application/json</property>
                <property name="Connection Timeout">30 secs</property>
                <property name="Read Timeout">30 secs</property>
                <property name="Follow Redirects">true</property>
                <property name="Attributes to Send">.*</property>
            </config>
        </processor>
        
        <!-- Evaluate JSON Path to Extract Data -->
        <processor id="evaluate-json">
            <name>Evaluate JSON</name>
            <class>org.apache.nifi.processors.standard.EvaluateJsonPath</class>
            <position x="500.0" y="200.0"/>
            <config>
                <property name="Destination">flowfile-attribute</property>
                <property name="JSONPath Expressions">
                    $.main.temp:temperature
                    $.main.humidity:humidity
                    $.main.pressure:pressure
                    $.weather[0].description:weather_description
                    $.wind.speed:wind_speed
                    $.coord.lat:latitude
                    $.coord.lon:longitude
                </property>
            </config>
        </processor>
        
        <!-- Transform Data to Standard Format -->
        <processor id="transform-data">
            <name>Transform to JSON</name>
            <class>org.apache.nifi.processors.standard.JoltTransformJSON</class>
            <position x="700.0" y="200.0"/>
            <config>
                <property name="Jolt Specification">[
  {
    "operation": "shift",
    "spec": {
      "main": {
        "temp": "temperature",
        "feels_like": "feels_like",
        "pressure": "pressure",
        "humidity": "humidity",
        "temp_min": "temp_min",
        "temp_max": "temp_max"
      },
      "weather": {
        "[0]": {
          "main": "weather.main",
          "description": "weather.description",
          "icon": "weather.icon"
        }
      },
      "wind": {
        "speed": "wind.speed",
        "deg": "wind.direction",
        "gust": "wind.gust"
      },
      "coord": {
        "lat": "coordinates.latitude",
        "lon": "coordinates.longitude"
      },
      "sys": {
        "country": "country",
        "sunrise": "sunrise",
        "sunset": "sunset"
      },
      "timezone": "timezone",
      "visibility": "visibility",
      "clouds": {
        "all": "clouds"
      },
      "name": "city",
      "dt": "timestamp"
    }
  },
  {
    "operation": "default",
    "spec": {
      "timestamp": "${now():format('yyyy-MM-dd\'T\'HH:mm:ss.SSS')}"
    }
  }
]</property>
                <property name="Jolt Transform DSL">Chain</property>
            </config>
        </processor>
        
        <!-- Route to Kafka -->
        <processor id="publish-kafka">
            <name>Publish to Kafka</name>
            <class>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6</class>
            <position x="900.0" y="200.0"/>
            <config>
                <property name="Kafka Brokers">kafka.ingestion.svc.cluster.local:9092</property>
                <property name="Topic Name">weather-data</property>
                <property name="Record Reader">JsonTreeReader</property>
                <property name="Record Writer">JsonRecordSetWriter</property>
                <property name="Delivery Guarantee">1</property>
                <property name="Compression Type">snappy</property>
                <property name="Acks">all</property>
                <property name="Max Request Size">1 MB</property>
            </config>
        </processor>
        
        <!-- Connections -->
        <connection id="gen-to-fetch">
            <name>Gen to Fetch</name>
            <source id="generate-cities" type="PROCESSOR"/>
            <destination id="fetch-weather" type="PROCESSOR"/>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        
        <connection id="fetch-to-eval">
            <name>Fetch to Eval</name>
            <source id="fetch-weather" type="PROCESSOR"/>
            <destination id="evaluate-json" type="PROCESSOR"/>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        
        <connection id="eval-to-transform">
            <name>Eval to Transform</name>
            <source id="evaluate-json" type="PROCESSOR"/>
            <destination id="transform-data" type="PROCESSOR"/>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        
        <connection id="transform-to-kafka">
            <name>Transform to Kafka</name>
            <source id="transform-data" type="PROCESSOR"/>
            <destination id="publish-kafka" type="PROCESSOR"/>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        
    </group>
</flowController>

